<html lang="en">
{% extends "headers.html" %}
{% block content %}
<script src="{{static_url('js/p5.js')}}"></script>
<script>
    function setup() {
        createCanvas(640, 480);
        img = loadImage('{{static_url(imgPath)}}');
    }

    function draw(x1, y1, x2,y2) {
        rect(x1, y1, x2, y2);
    }
    window.onload = function () {
        setup();
        var features= JSON.parse('{{features}}');
        debugger;
        for (var propt in features){
            if (features.hasOwnProperty(propt)) {
                var x1 = features[propt][0];
                var y1 = features[propt][0];
                var x2 = features[propt][0];
                var y2 = features[propt][0];
                draw(x1,y1,x2,y2);
            }
     //   p5.Image(1200,1080);//,'{{static_url(imgPath)}}');
    //    $("#imageInput");
    };

</script>
{% end %}
</html>
