<html lang="en">
{% extends "headers.html" %}
{% block content %}
<div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Upload Picture</h1>
        <form action = "/" method="post" id="facedetect" enctype=multipart/form-data>
            <table cellpadding=2 border=1>
            <tr>
                <td><label for="file_inp"> Input Image File1 </label></td>
                <td><input type=file accept="image/jpg, image/jpeg" label="file_inp" id="file_inp" name="file_inp"> </td> </tr>
             <tr>
                <td><label for="file_inp"> Input Image File2 </label></td>
                <td><input type=file label="file_inp1" id="file_inp1" name="file_inp1"> </td>
            </tr>
            </table>
    </br>
        <button type="submit">Detect Face </button>
        </form>
{% end %}
</html>
